button{
    width: 50;
    height: 45;
    background-color: rgb(120, 147, 221);
    margin-top: 2px;
}

body{
    padding: 5%;
    
    text-align: center;
    
}

.wapper{
    border: outset;
    border-radius: 5px;
    height: 50%;
    
}

